<template>
	<div class="main-content container-fluid">
		<div class="page-head">
			<h2 class="page-head-title">Reports</h2>
			<ol class="breadcrumb page-head-nav">
				<li><a href="#">Home</a></li>
				<li class="active">Reports</li>
			</ol>
		</div>
		<div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default panel-table">
					<div class="panel-heading">Report list
						<div class="tools">
							
						</div>
					</div>
					<div class="panel-body">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th style="width:37%;">Name</th>
									<th style="width:36%;">Role</th>
									<th>Date</th>
									<th class="actions"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="user-avatar"> <img src="assets/img/avatar6.png" alt="Avatar">Penelope Thornton</td>
									<td>Initial commit</td>
									<td>Aug 6, 2015</td>
									<td class="actions"><a href="#" class="icon"><i class="mdi mdi-delete"></i></a></td>
								</tr>
								<tr>
									<td class="user-avatar"> <img src="assets/img/avatar4.png" alt="Avatar">Benji Harper</td>
									<td>Main structure markup</td>
									<td>Jul 28, 2015</td>
									<td class="actions"><a href="#" class="icon"><i class="mdi mdi-delete"></i></a></td>
								</tr>
								<tr>
									<td class="user-avatar"> <img src="assets/img/avatar5.png" alt="Avatar">Justine Myranda</td>
									<td>Left sidebar adjusments</td>
									<td>Jul 15, 2015</td>
									<td class="actions"><a href="#" class="icon"><i class="mdi mdi-delete"></i></a></td>
								</tr>
								<tr>
									<td class="user-avatar"> <img src="assets/img/avatar3.png" alt="Avatar">Sherwood Clifford</td>
									<td>Topbar dropdown style</td>
									<td>Jun 30, 2015</td>
									<td class="actions"><a href="#" class="icon"><i class="mdi mdi-delete"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

import MainComponent from '../MainComponent.vue';

export default {
	components: {
		MainComponent
	},
	mounted() {
		console.log('Component mounted.')
	}
}
</script>
