	<template>
		<div class="main-content container-fluid">
			<div class="page-head">
				<h2 class="page-head-title">Add Package</h2>
				<ol class="breadcrumb page-head-nav">
					<li><a href="#">Home</a></li>
					<li><router-link to="/admin/packages">Packages</router-link></li>
					<li class="active">Add</li>
				</ol>
			</div>
			<div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default panel-border-color panel-border-color-primary">
						<div class="panel-heading panel-heading-divider">Add package<span class="panel-subtitle">Complete all required fields *</span></div>
						<div class="panel-body">
							<form @submit.prevent="addpackage" style="border-radius: 0px;" class="form-horizontal group-border-dashed" enctype="multipart/form-data">
								<input type="hidden" name="_token" :value="csrf">
								<div class="form-group">
									<label class="col-sm-2 control-label">Name</label>
									<div class="col-sm-9">
										<input required type="text" class="form-control" v-model="name" placeholder="Romantic Getaway">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Price</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" v-model="price" placeholder="10,000">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Details</label>
									<div class="col-sm-9">
										<textarea class="form-control" rows="5" v-model="details" placeholder="Free breakfast"></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Content</label>
									<div class="col-sm-9">
										<div class="panel-body">
											<ckeditor :editor="editor" v-model="content" :config="editorConfig"></ckeditor>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Sale</label>
									<div class="col-sm-9">
										<div class="be-checkbox inline">
											<input id="sale" type="checkbox" v-model="sale">
											<label for="sale">Sale</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Original price</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" v-model="original_price" placeholder="50,000">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Highlight</label>
									<div class="col-sm-9">
										<div class="be-checkbox inline">
											<input id="highlight" type="checkbox" v-model="highlight">
											<label for="highlight">Highlight</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Highlight name</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" v-model="highlight_name" placeholder="Most Popular">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Image</label>
									<div class="col-sm-9">
										<input type="file" class="form-control" accept="image/*" @change="processFile($event)">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Published</label>
									<div class="col-sm-9">
										<div class="be-checkbox inline">
											<input id="active" type="checkbox" v-model="active">
											<label for="active">Active</label>
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<p class="text-center">
										<button type="submit" class="btn btn-space btn-primary btn-lg"><i class="icon icon-left mdi mdi-plus"></i> Add package</button>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

import MainComponent from '../MainComponent.vue';
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

export default {
	components: {
		MainComponent,
	},
	data() {
		return {
			user: {},
			csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
			name: '',
			image: null,
			highlight: false,
			highlight_name: '',
			price: '',
			active: true,
			details: '',
			content: '',
			sale: false,
			original_price: '',
			editor: ClassicEditor,
			editorData: '<p>Rich-text editor content.</p>',
			editorConfig: {
                //
            },
        }
    },
    methods: {
    	addpackage(e) {
    		e.preventDefault();
    		let currentObj = this;

    		let formData = new FormData();
    		formData.append('image', this.image);
    		formData.append('name', this.name);
    		formData.append('highlight', this.highlight);
    		formData.append('highlight_name', this.highlight_name);
    		formData.append('price', this.price);
    		formData.append('active', this.active);
    		formData.append('details', this.details);
    		formData.append('content', this.content);
    		formData.append('sale', this.sale);
    		formData.append('original_price', this.original_price);

    		axios.post('../api/addpackage',formData , {
    			headers: {
    				'Content-Type': 'multipart/form-data'
    			}
    		}).then( response => {
    			Vue.$toast.success(response.data.success, {
    				position: 'top-right',
    			});
    			this.$router.push({ name: 'packages' })
    		}).catch( error => {
    			if (error.response.status == 500) {
    				Vue.$toast.error(error.response.data, {
    					position: 'top-right',
    				})
    			}
    		});
    	},
    	processFile(event) {
    		this.image = event.target.files[0]
    	}
    }
}
</script>
<style>
.notices .toast .toast-text {
	padding: 20px 50px;
}
.notices .toast-error {
	background-color: #ea4335;
	border-color: #ea4335;
	color: #ffffff;
}
.notices .toast-success {
	background-color: #34a853;
	border-color: #34a853;
	color: #ffffff;
}
#my-awesome-dropzone {
	
}
.ck-editor__editable {
	min-height: 500px;
}
</style>
