	<template>
		<div class="main-content container-fluid">
			<div class="page-head">
				<h2 class="page-head-title">Update Package</h2>
				<ol class="breadcrumb page-head-nav">
					<li><a href="#">Home</a></li>
					<li><router-link to="/admin/packages">Packages</router-link></li>
					<li class="active">Update</li>
				</ol>
			</div>
			<div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default panel-border-color panel-border-color-primary">
						<div class="panel-heading panel-heading-divider">Add package<span class="panel-subtitle">Complete all required fields *</span></div>
						<div class="panel-body">
							<form @submit.prevent="updatePackage" style="border-radius: 0px;" class="form-horizontal group-border-dashed" enctype="multipart/form-data">
								<div class="form-group">
									<label class="col-sm-2 control-label">Name</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" v-model="package.name" placeholder="Romantic Getaway">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Price</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" v-model="package.price" placeholder="10,000">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Details</label>
									<div class="col-sm-9">
										<textarea class="form-control" rows="5" v-model="package.details" placeholder="Everything You Need
										Buffet Included
										All Drinks and Alcoholic Beverages
										Fishing Trips"></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Content</label>
									<div class="col-sm-9">
										<div class="panel-body">
											<ckeditor :editor="editor" v-model="package.content" :config="editorConfig"></ckeditor>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Sale</label>
									<div class="col-sm-9">
										<div class="be-checkbox inline">
											<input id="sale" type="checkbox" v-model="package.sale" @click="salecheck($event)">
											<label for="sale">Sale</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Original price</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" v-model="package.original_price" placeholder="50,000">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Highlight</label>
									<div class="col-sm-9">
										<div class="be-checkbox inline">
											<input id="highlight" type="checkbox" v-model="package.highlight" @click="highlightcheck($event)">
											<label for="highlight">Highlight</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Highlight name</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" v-model="package.highlight_name" placeholder="Most Popular">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Image</label>
									<div class="col-sm-9">
										<img v-if="image1" :src="image1" width="100px" />
										<input type="file" class="form-control" accept="image/*" @change="processFile">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Published</label>
									<div class="col-sm-9">
										<div class="be-checkbox inline">
											<input id="active" type="checkbox" v-model="package.active" @click="activecheck($event)">
											<label for="active">Active</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Gallery</label>
									<div class="col-sm-9">
										<img v-if="image2" :src="image2" width="100px" />
										<input type="file" class="form-control" accept="image/*" @change="onFileChange">
										<div v-for="galer in galleries" style="display: inline-block">
											<img :src="path + galer.image" alt="" width="100px">
											<p @click="removeimage(galer.id)">remove</p>
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<p class="text-center">
										<button type="submit" class="btn btn-space btn-primary btn-lg"><i class="icon icon-left mdi mdi-plus"></i> Update package</button>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

import MainComponent from '../MainComponent.vue';
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import vueDropzone from "vue2-dropzone";
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
	components: {
		MainComponent,
		vueDropzone
	},
	created() {
		this.getPackage();
		this.getGalleries();
	},
	data() {
		return {
			package: [],
			packageid: this.$route.params.id,
			pimage: '',
			path: '../../public/images/packages/',
			image: '',
			editor: ClassicEditor,
			editorData: '<p>Rich-text editor content.</p>',
			editorConfig: {
                // height: 500
            },
            dropzoneOptions: {
            	url: '../../api/package/gallery/'+this.packageid,
            	headers: { "Content-type": "undefined", 'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content') },
            	uploadMultiple: true
            },
            sale: '',
            highlight: '',
            active: '',
            images: '',
            image1: '',
            image2: '',
            galleries: []
        }
    },
    methods: {
    	addpackage() {
    		this.$router.push({ name: 'addpackage' })
    	},
    	getPackage() {
    		this.axios.get('../../api/package/edit/' + this.packageid).then((response) => {
    			this.package = response.data;
    			this.pimage = this.path + response.data.image;
    		});
    	},
    	updatePackage(e) {
    		e.preventDefault();
    		let currentObj = this;

    		let formData = new FormData();
    		formData.append('name', this.package.name);
    		formData.append('price', this.package.price);
    		formData.append('sale', this.sale);
    		formData.append('original_price', this.package.original_price);
    		formData.append('details', this.package.details);
    		formData.append('content', this.package.content);
    		formData.append('image', this.image);
    		formData.append('highlight', this.highlight);
    		formData.append('highlight_name', this.package.highlight_name);
    		formData.append('active', this.active);
    		axios.post('../../api/package/update/' + this.packageid, formData,  {
    			headers: {
    				'Content-Type': 'multipart/form-data'
    			}
    		}).then( response => {
    			Vue.$toast.success(response.data.success, {
    				position: 'top-right',
    			});
    			this.$router.push({ name: 'packages' })
    		}).catch( error => {
    			if (error.response.status == 500) {
    				Vue.$toast.error(error.response.data, {
    					position: 'top-right',
    				})
    			}
    		});
    	},
    	processFile(event) {
    		this.image = event.target.files[0];
    		const file = event.target.files[0];
    		this.image1 = URL.createObjectURL(file);
    	},
    	salecheck(event) {
    		if (event.target.checked) {
    			this.sale = true;
    		} else {
    			this.sale = false;
    		}
    	},
    	highlightcheck(event) {
    		if (event.target.checked) {
    			this.highlight = true;
    		} else {
    			this.highlight = false;
    		}
    	},
    	activecheck(event) {
    		if (event.target.checked) {
    			this.active = true;
    		} else {
    			this.active = false;
    		}
    	},
    	onFileChange(e) {
    		this.images = e.target.files[0];
    		const file = e.target.files[0];
    		this.image2 = URL.createObjectURL(file);

    		this.addGallery();
    	},
    	addGallery() {
    		let currentObj = this;

    		let formData = new FormData();
    		formData.append('gallery', this.images);
    		axios.post('../../api/package/gallery/' + this.packageid, formData,  {
    			headers: {
    				'Content-Type': 'multipart/form-data'
    			}
    		}).then( response => {
    			Vue.$toast.success(response.data.success, {
    				position: 'top-right',
    			});
    			this.getGalleries();
    		}).catch( error => {
    			if (error.response.status == 500) {
    				Vue.$toast.error(error.response.data, {
    					position: 'top-right',
    				})
    			}
    		});
    	},
    	getGalleries() {
    		this.axios.get('../../api/package/galleries/' + this.packageid).then((response) => {
    			this.galleries = response.data;
    		});
    	},
    	removeimage(id) {
            axios.post('../../api/package/gallery/delete/' + id, {
            	id: id,
            }).then( response => {
            	this.getGalleries();
				Vue.$toast.success(response.data.success, {
				  position: 'top-right',
				});
            }).catch( error => {
				//
            });
    	}
    },
}
</script>
<style>
.notices .toast .toast-text {
	padding: 20px 50px;
}
.notices .toast-error {
	background-color: #ea4335;
	border-color: #ea4335;
	color: #ffffff;
}
.notices .toast-success {
	background-color: #34a853;
	border-color: #34a853;
	color: #ffffff;
}
</style>
