.carousel-control.left {
	background-image: none;
	text-shadow: none;
}
.carousel-control.right {
	background-image: none;
	text-shadow: none;
}
.testimonial-img {
	height: 50px;
	width: 50px !important;
	border-radius: 50%;
	margin: 0 auto
}