<template>

  <div>

    <transition name="fade">

      <router-view></router-view>

    </transition>

  </div>

</template>

<style>
   	.page-head {
   		padding: 0px 0px 20px;
   	}
</style>

<script>

    export default{
    	//
    }

</script>