<template>
	<div class="main-content container-fluid">
		<div class="page-head">
			<h2 class="page-head-title">Add Blog</h2>
			<ol class="breadcrumb page-head-nav">
				<li><a href="#">Home</a></li>
				<li><router-link to="/admin/blogs">Blogs</router-link></li>
				<li class="active">Add</li>
			</ol>
		</div>
		<div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default panel-border-color panel-border-color-primary">
					<div class="panel-heading panel-heading-divider">Add blog<span class="panel-subtitle">Complete all required fields *</span></div>
					<div class="panel-body">
						<form @submit.prevent="addblog" style="border-radius: 0px;" class="form-horizontal group-border-dashed" enctype="multipart/form-data">
							<input type="hidden" name="_token" :value="csrf">
							<div class="form-group">
								<label class="col-sm-2 control-label">Title</label>
								<div class="col-sm-9">
									<input required type="text" class="form-control" v-model="title" placeholder="How to make scramble egg">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Content</label>
								<div class="col-sm-9">
									<div class="panel-body">
										<ckeditor :editor="editor" v-model="content" :config="editorConfig"></ckeditor>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Image</label>
								<div class="col-sm-9">
									<img v-if="image1" :src="image1" width="100px" />
									<input type="file" class="form-control" accept="image/*" @change="processFile($event)">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Published</label>
								<div class="col-sm-9">
									<div class="be-checkbox inline">
										<input id="active" type="checkbox" v-model="active">
										<label for="active">Active</label>
									</div>
								</div>
							</div>
							<div class="col-xs-12">
								<p class="text-center">
									<button type="submit" class="btn btn-space btn-primary btn-lg"><i class="icon icon-left mdi mdi-plus"></i> Add blog</button>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>

import MainComponent from '../MainComponent.vue';
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

export default {
	components: {
		MainComponent,
	},
	data() {
		return {
			user: {},
			csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
			title: '',
			image: null,
			active: true,
			content: '',
			editor: ClassicEditor,
			editorData: '<p>Rich-text editor content.</p>',
			editorConfig: {
                //
            },
            image1: '',
        }
    },
    methods: {
    	addblog(e) {
    		e.preventDefault();
    		let currentObj = this;

    		let formData = new FormData();
    		formData.append('image', this.image);
    		formData.append('title', this.title);
    		formData.append('active', this.active);
    		formData.append('content', this.content);

    		axios.post('../api/addblog',formData , {
    			headers: {
    				'Content-Type': 'multipart/form-data'
    			}
    		}).then( response => {
    			Vue.$toast.success(response.data.success, {
    				position: 'top-right',
    			});
    			this.$router.push({ name: 'blogs' })
    		}).catch( error => {
    			if (error.response.status == 500) {
    				Vue.$toast.error(error.response.data, {
    					position: 'top-right',
    				})
    			}
    		});
    	},
    	processFile(event) {
    		this.image = event.target.files[0];
    		const file = event.target.files[0];
    		this.image1 = URL.createObjectURL(file);
    	}
    }
}
</script>
<style>
.notices .toast .toast-text {
	padding: 20px 50px;
}
.notices .toast-error {
	background-color: #ea4335;
	border-color: #ea4335;
	color: #ffffff;
}
.notices .toast-success {
	background-color: #34a853;
	border-color: #34a853;
	color: #ffffff;
}
#my-awesome-dropzone {
	
}
.ck-editor__editable {
	min-height: 500px;
}
</style>
