<template>
	<div class="main-content container-fluid">
		<div class="page-head">
			<h2 class="page-head-title">Blog</h2>
			<ol class="breadcrumb page-head-nav">
				<li><a href="#">Home</a></li>
				<li class="active">Blog</li>
			</ol>
		</div>
		<div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default panel-table">
					<div class="panel-heading">Blog list
						<div class="tools">
							<button @click="addblog" class="btn btn-space btn-primary"><i class="icon icon-left mdi mdi-plus"></i> Add blog</button>
						</div>
					</div>
					<div class="panel-body">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th style="width:40%;">Title</th>
									<th style="width:10%;">Slug</th>
									<th style="width:10%;">Active</th>
									<th style="width:20%;">Date</th>
									<th class="actions"></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="blog in blogs">
									<td class="user-avatar"><img src="" :src="path + blog.image" alt="">{{ blog.title }}</td>
									<td>{{ blog.slug }}</td>
									<td>{{ blog.active === 1 ? 'yes' : 'no' }}</td>
									<td>{{ blog.created_at }}</td>
									<td class="actions">
										<router-link :to="{ path: '/admin/update-blog/' + blog.id, params: { id: blog.id } }" class="icon"><i class="mdi mdi-edit"></i></router-link>
										<a :href="website + blog.slug" class="icon" ><i class="mdi mdi-eye " ></i></a>
										<a href="#" @click="getBlogId(blog.id)" class="icon" data-toggle="modal" data-target="#mod-warning" ><i class="mdi mdi-delete " ></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- modals -->
		<div id="mod-warning" tabindex="-1" role="dialog" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="mdi mdi-close"></span></button>
					</div>
					<div class="modal-body">
						<div class="text-center">
							<div class="text-warning"><span class="modal-main-icon mdi mdi-alert-triangle"></span></div>
							<h3>Delete blog!</h3>
							<p>Are you sure you want to delete this blog? This process cannot be undone.</p>
							<div class="xs-mt-50">
								<button type="button" data-dismiss="modal" class="btn btn-space btn-default">Cancel</button>
								<button type="button" data-dismiss="modal" @click="deleteblog(blogid)" class="btn btn-space btn-warning">Proceed</button>
							</div>
						</div>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>

	</div>


</template>

<script>

import MainComponent from '../MainComponent.vue';

export default {
	components: {
		MainComponent
	},
	mounted() {
		this.getBlogs();
	},
	data() {
		return {
			blogs: [],
			blogid: '',
			path: '../images/blogs/',
			website: 'https://www.zycorfly.com/blog/'
		}
	},
	methods: {
		addblog() {
			this.$router.push({ name: 'addblog' })
		},
		getBlogs() {
			this.axios.get('../api/blogs').then((response) => {
				this.blogs = response.data;
			});
		},
		getBlogId(id) {
			this.blogid = id;
		},
		deleteblog(id) {
            axios.post('../api/blog/delete/' + id, {
            	id: id,
            }).then( response => {
            	this.getBlogs();
				Vue.$toast.success(response.data.success, {
				  position: 'top-right',
				});
            }).catch( error => {
                if (error.response.status == 500) {
					Vue.$toast.error(error.response.data, {
					  position: 'top-right',
					})
                }
            });
		}
	}
}
</script>
<<style>
.icon {
	padding: 0 3px;
}
</style>
