<template>
	<div>
		<!-- navbar -->
		<nav class="navbar navbar-default navbar-fixed-top be-top-header">
			<div class="container-fluid">
			  	<div class="navbar-header"><a href="#" @click="homepage"  class="navbar-brand">Zycor Fly</a></div>
			  	<div class="be-right-navbar">
					<AccountComponent></AccountComponent>
			  	</div>
			</div>
		</nav>
		<!-- sidebar -->
		<SidebarComponent></SidebarComponent>

		<div class="be-content">
		    <transition name="fade">
		      <router-view></router-view>
		    </transition>
		</div>
	</div>
</template>

<script>

import SidebarComponent from './partials/__SidebarComponent.vue';
import AccountComponent from './partials/__AccountComponent.vue';

export default {
    components: {
        SidebarComponent,
        AccountComponent
    },
    mounted() {
        console.log('Component mounted.')
    },
    methods: {
    	homepage() {
        	this.$router.push({ name: 'dashboard' })
        }
    }
}
</script>

<style>
   	.page-head {
   		padding: 0px 0px 20px;
   	}
</style>

