<template>
	<div class="main-content container-fluid">
		<div class="page-head">
			<h2 class="page-head-title">Settings</h2>
			<ol class="breadcrumb page-head-nav">
				<li><a href="#">Home</a></li>
				<li class="active">Site settings</li>
			</ol>
		</div>
		<div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="tab-container">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#hero" data-toggle="tab"><span class="icon mdi mdi-home"></span>Hero banner</a></li>
							<li><a href="#packages" data-toggle="tab"><span class="icon mdi mdi-face"></span>Packages</a></li>
							<li><a href="#visa" data-toggle="tab"><span class="icon mdi mdi-email"></span>Visa Assistance</a></li>
							<li><a href="#testimonial" data-toggle="tab"><span class="icon mdi mdi-edit"></span>Testimonials</a></li>
							<li><a href="#contact" data-toggle="tab"><span class="icon mdi mdi-phone"></span>Contacts</a></li>
							<li><a href="#footer" data-toggle="tab"><span class="icon mdi mdi-download"></span>Footer</a></li>
						</ul>
						<div class="tab-content">
							<div id="hero" class="tab-pane active cont">
								<div class="row">
									<div class="col-md-12">
										<div class="panel-body">
											<form @submit.prevent="saveSettings" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
												<div class="form-group">
													<label class="col-sm-3 control-label">Site name</label>
													<div class="col-sm-6">
														<input type="text" v-model="site.site_name" class="form-control" placeholder="Zycor Travel and Tours">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">Site subheading</label>
													<div class="col-sm-6">
														<input type="text" v-model="site.site_subheading" class="form-control" placeholder="Travel Consultation & Booking">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">Heading</label>
													<div class="col-sm-6">
														<input type="text" class="form-control" v-model="site.hero_title" placeholder="Zycor Travel and Tours">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">Subheading</label>
													<div class="col-sm-6">
														<textarea class="form-control" v-model="site.hero_subtitle" placeholder="Experience affordable travels for your family and friends. We serve local and international flight & tour packages."></textarea>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">Background Image</label>
													<div class="col-sm-6">
														<img :src="himage" alt="" width="100px" style="margin-bottom: 5px">
														<input type="file" class="form-control" accept="image/*" @change="processFileHero($event)">
													</div>
												</div>
												<div class="col-xs-12">
													<p class="text-center">
														<button type="submit" class="btn btn-space btn-primary btn-lg"><i class="icon icon-left mdi mdi-save"></i> Save</button>
													</p>
												</div>
											</form>
										</div>
										
									</div>
								</div>
							</div>
							<div id="packages" class="tab-pane cont">
								<div class="row">
									<div class="col-md-12">
										<div class="panel-body">
											<form @submit.prevent="saveSettings" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
												<div class="form-group">
													<label class="col-sm-3 control-label">Heading</label>
													<div class="col-sm-6">
														<input type="text" v-model="site.tour_title" class="form-control" placeholder="Tour Packages">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">Subheading</label>
													<div class="col-sm-6">
														<input type="text" v-model="site.tour_subtitle" class="form-control" placeholder="Check out our deals">
													</div>
												</div>
												<div class="col-xs-12">
													<p class="text-center">
														<button type="submit" class="btn btn-space btn-primary btn-lg"><i class="icon icon-left mdi mdi-save"></i> Save</button>
													</p>
												</div>
											</form>
										</div>
										
									</div>
								</div>
							</div>
							<div id="visa" class="tab-pane">
								<div class="row">
									<div class="col-md-12">
										<div class="panel-body">
											<form @submit.prevent="saveSettings" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
												<div class="form-group">
													<label class="col-sm-3 control-label">Heading</label>
													<div class="col-sm-6">
														<input type="text" v-model="site.visa_title" class="form-control" placeholder="Visa Assistance">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">Subheading</label>
													<div class="col-sm-6">
														<input type="text" v-model="site.visa_subtitle" class="form-control" placeholder="We will assist you with the visa formalities, documentation, submission of application">
													</div>
												</div>
												<div class="col-xs-12">
													<p class="text-center">
														<button type="submit" class="btn btn-space btn-primary btn-lg"><i class="icon icon-left mdi mdi-save"></i> Save</button>
													</p>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div id="testimonial" class="tab-pane">
								<div class="row">
									<div class="col-md-12">
										<div class="panel-body">
											<form @submit.prevent="saveSettings" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
												<div class="form-group">
													<label class="col-sm-3 control-label">Heading</label>
													<div class="col-sm-6">
														<input type="text" v-model="site.testimonial_title" class="form-control" placeholder="Client Testimonials">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">Subheading</label>
													<div class="col-sm-6">
														<input type="text" v-model="site.testimonial_subtitle" class="form-control" placeholder="Here what others are saying about Zycor Fly Travel and Tours">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">Background Image</label>
													<div class="col-sm-6">
														<img :src="timage" alt="" width="100px" style="margin-bottom: 5px">
														<input type="file" class="form-control" accept="image/*" @change="processFileTestimonial($event)">
													</div>
												</div>
												<div class="col-xs-12">
													<p class="text-center">
														<button type="submit" class="btn btn-space btn-primary btn-lg"><i class="icon icon-left mdi mdi-save"></i> Save</button>
													</p>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div id="contact" class="tab-pane">
								<div class="row">
									<div class="col-md-12">
										<div class="panel-body">
											<form @submit.prevent="saveSettings" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
												<div class="form-group">
													<label class="col-sm-3 control-label">Heading</label>
													<div class="col-sm-6">
														<input type="text" v-model="site.contact_title" class="form-control" placeholder="Contact us">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">Subheading</label>
													<div class="col-sm-6">
														<input type="text" v-model="site.contact_subtitle" class="form-control" placeholder="If you have any questions, feedback or would like to book a flight, please contact us. We'll get back to you asap!">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">Contact address</label>
													<div class="col-sm-6">
														<input type="text" v-model="site.contact_address" class="form-control" placeholder="Door 22 Davao Airport View Hotel, Commercial Complex, CP Garcia Highway, Buhangin, Davao City, Philippines, 8000">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">Contact phone</label>
													<div class="col-sm-6">
														<textarea v-model="site.contact_phone" class="form-control" placeholder="(+63) 82 235-7083

(+63) 923 152-2442 (sun)"></textarea> 
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">Contact email</label>
													<div class="col-sm-6">
														<input type="text" v-model="site.contact_email" class="form-control" placeholder="zycor_fly@yahoo.com">
													</div>
												</div>
												<div class="col-xs-12">
													<p class="text-center">
														<button type="submit" class="btn btn-space btn-primary btn-lg"><i class="icon icon-left mdi mdi-save"></i> Save</button>
													</p>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div id="footer" class="tab-pane">
								<div class="row">
									<div class="col-md-12">
										<div class="panel-body">
											<form @submit.prevent="saveSettings" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
												<div class="form-group">
													<label class="col-sm-3 control-label">Copyright</label>
													<div class="col-sm-6">
														<textarea v-model="site.footer_copyright" class="form-control" placeholder="© 2019, Zycor Fly Travel and Tours. All Rights Reserved."></textarea> 
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">Credit</label>
													<div class="col-sm-6">
														<textarea v-model="site.footer_credit" class="form-control" placeholder="Made with  by Ryok."></textarea> 
													</div>
												</div>
												<div class="col-xs-12">
													<p class="text-center">
														<button type="submit" class="btn btn-space btn-primary btn-lg"><i class="icon icon-left mdi mdi-save"></i> Save</button>
													</p>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

import MainComponent from './MainComponent.vue';

export default {
	components: {
		MainComponent
	},
	created() {
		this.getSiteSettings();
	},
	data() {
		return {
			site: [],
			himage: '',
			timage: '',
			path: '../../images/settings/',
			image: '',
			heimage: '',
			teimage: '',
		}
	},
	methods: {
		getSiteSettings() {
			this.axios.get('../../api/settings').then((response) => {
	            this.site = response.data;
	            this.himage = this.path + response.data.hero_image;
	            this.timage = this.path + response.data.testimonial_image;
	        });
		},
		saveSettings(e) {
            e.preventDefault();
            let currentObj = this;

            let formData = new FormData();
            formData.append('site_name', this.site.site_name);
            formData.append('site_subheading', this.site.site_subheading);
            formData.append('hero_title', this.site.hero_title);
            formData.append('hero_subtitle', this.site.hero_subtitle);
            formData.append('hero_image', this.heimage);
            formData.append('tour_title', this.site.tour_title);
            formData.append('tour_subtitle', this.site.tour_subtitle);
            formData.append('visa_title', this.site.visa_title);
            formData.append('visa_subtitle', this.site.visa_subtitle);
            formData.append('testimonial_title', this.site.testimonial_title);
            formData.append('testimonial_subtitle', this.site.testimonial_subtitle);
            formData.append('testimonial_image', this.teimage);
            formData.append('contact_title', this.site.contact_title);
            formData.append('contact_subtitle', this.site.contact_subtitle);
            formData.append('contact_address', this.site.contact_address);
            formData.append('contact_phone', this.site.contact_phone);
            formData.append('contact_email', this.site.contact_email);
            formData.append('footer_copyright', this.site.footer_copyright);
            formData.append('footer_credit', this.site.footer_credit);
            axios.post('../../api/settings/update', formData,  {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then( response => {
				Vue.$toast.success(response.data.success, {
				  position: 'top-right',
				});
            }).catch( error => {
                if (error.response.status == 500) {
					Vue.$toast.error(error.response.data, {
					  position: 'top-right',
					})
                }
            });
		},
		processFileTestimonial(event) {
			this.teimage = event.target.files[0]
		},
		processFileHero(event) {
			this.heimage = event.target.files[0]
		}
	},
}
</script>
<style>
.notices .toast .toast-text {
	padding: 20px 50px;
}
.notices .toast-error {
	background-color: #ea4335;
	border-color: #ea4335;
	color: #ffffff;
}
.notices .toast-success {
	background-color: #34a853;
	border-color: #34a853;
	color: #ffffff;
}
</style>