<template>
	<div class="main-content container-fluid">
		<div class="user-profile">
			<div class="row">
				<div class="col-md-5">
					<div class="user-display">
						<div class="user-display-bg"><img src="/assets/img/user-profile-display.png" alt="Profile Background"></div>
						<div class="user-display-bottom">
							<div class="user-display-avatar"><img :src="path + user.image" alt="Avatar"></div>
							<div class="user-display-info">
								<div class="name">{{ user.name }}</div>
								<div class="nick"><span class="mdi mdi-email"></span> {{ user.email }}</div>
							</div>
						</div>
					</div>
					<div class="user-info-list panel panel-default">
						<div class="panel-heading panel-heading-divider">About Me<span class="panel-subtitle">{{ user.about }}</span></div>
						<div class="panel-body">
							<table class="no-border no-strip skills">
								<tbody class="no-border-x no-border-y">
									<tr>
										<td class="icon"><span class="mdi mdi-case"></span></td>
										<td class="item">Position<span class="icon s7-portfolio"></span></td>
										<td>{{ user.position }}</td>
									</tr>
									<tr>
										<td class="icon"><span class="mdi mdi-smartphone-android"></span></td>
										<td class="item">Mobile<span class="icon s7-phone"></span></td>
										<td>{{ user.mobile }}</td>
									</tr>
									<tr>
										<td class="icon"><span class="mdi mdi-globe-alt"></span></td>
										<td class="item">Location<span class="icon s7-map-marker"></span></td>
										<td>{{ user.location }}</td>
									</tr>
									<tr>
										<td class="icon"><span class="mdi mdi-pin"></span></td>
										<td class="item">Website<span class="icon s7-global"></span></td>
										<td>{{ user.website }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="widget widget-fullwidth widget-small">
						<div class="widget-head xs-pb-30">
							<div class="title">Update details</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-body">
								<form @submit.prevent="saveProfile" enctype="multipart/form-data">
									<div class="form-group xs-pt-10">
										<label>Name</label>
										<input type="text" v-model="user.name" class="form-control">
									</div>
									<div class="form-group">
										<label>Email</label>
										<input type="email" v-model="user.email" class="form-control">
									</div>
									<div class="form-group">
										<label>Position</label>
										<input type="text" v-model="user.position" class="form-control">
									</div>
									<div class="form-group">
										<label>Mobile</label>
										<input type="text" v-model="user.mobile" class="form-control">
									</div>
									<div class="form-group">
										<label>Location</label>
										<input type="text" v-model="user.location" class="form-control">
									</div>
									<div class="form-group">
										<label>Website</label>
										<input type="text" v-model="user.website" class="form-control">
									</div>
									<div class="form-group">
										<label>Profile image</label><br>
										<img v-if="image2" :src="image2" width="100px" />
										<input type="file" class="form-control" accept="image/*" @change="processFile">
									</div>
									<div class="form-group">
										<label>About me</label>
										<textarea  cols="30" rows="10" class="form-control" v-model="user.about"></textarea>
									</div>
									<div class="row xs-pt-15">
										<div class="col-xs-6">
											<p class="text-right">
												<button type="submit" class="btn btn-space btn-primary">Save</button>
											</p>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

import MainComponent from '../MainComponent.vue';

export default {
	components: {
		MainComponent
	},
	created() {
		this.getUser();
	},
	data() {
		return {
			user: [],
			csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
			image: '',
			image1: '',
			image2: '',
			path: '../../public/images/users/',
		}
	},
	methods: {
    	getUser() {
    		this.axios.get('../../api/user').then((response) => {
    			this.user = response.data;
    			this.image1 = this.path + response.data.image;
                this.active = response.data.active == 1 ? true : false;
    		});
    	},
		saveProfile(e) {
    		e.preventDefault();
    		let currentObj = this;

    		let formData = new FormData();
    		formData.append('image', this.image);
    		formData.append('name', this.user.name);
    		formData.append('email', this.user.email);
    		formData.append('position', this.user.position);
    		formData.append('mobile', this.user.mobile);
    		formData.append('location', this.user.location);
    		formData.append('website', this.user.website);
    		formData.append('about', this.user.about);

    		axios.post('../api/saveprofile',formData , {
    			headers: {
    				'Content-Type': 'multipart/form-data'
    			}
    		}).then( response => {
    			Vue.$toast.success(response.data.success, {
    				position: 'top-right',
    			});
    			this.getUser();
    		}).catch( error => {
    			if (error.response.status == 500) {
    				Vue.$toast.error(error.response.data, {
    					position: 'top-right',
    				})
    			}
    		});
		},
    	processFile(event) {
    		this.image = event.target.files[0];
    		const file = event.target.files[0];
    		this.image1 = URL.createObjectURL(file);
    		this.image2 = URL.createObjectURL(file);
    	},
	}
}
</script>
<style>
.notices .toast .toast-text {
	padding: 20px 50px;
}
.notices .toast-error {
	background-color: #ea4335;
	border-color: #ea4335;
	color: #ffffff;
}
.notices .toast-success {
	background-color: #34a853;
	border-color: #34a853;
	color: #ffffff;
}
</style>