	<template>
		<div class="main-content container-fluid">
			<div class="page-head">
				<h2 class="page-head-title">Add User</h2>
				<ol class="breadcrumb page-head-nav">
					<li><a href="#">Home</a></li>
					<li><router-link to="/admin/users">Users</router-link></li>
					<li class="active">Add</li>
				</ol>
			</div>
			<div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default panel-border-color panel-border-color-primary">
						<div class="panel-heading panel-heading-divider">Add user<span class="panel-subtitle">Complete all required fields *</span></div>
						<div class="panel-body">
							<form @submit.prevent="adduser" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
								<input type="hidden" name="_token" :value="csrf">
								<div class="form-group">
									<label class="col-sm-3 control-label">Name *</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" required v-model="name">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Email address *</label>
									<div class="col-sm-6">
										<input type="email" class="form-control" required v-model="email">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Password *</label>
									<div class="col-sm-6">
										<input type="password" class="form-control" required v-model="password">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Re-type password *</label>
									<div class="col-sm-6">
										<input type="password" class="form-control" required v-model="password_confirmation">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Role</label>
									<div class="col-sm-6">
										<select class="form-control" v-model="role" :required="true">
											<option disabled value="0" selected>Select one</option>
											<option v-for="option in options" v-bind:value="option.id"  >
											   {{ option.name }}
											</option>
										</select>
									</div>
								</div>
								<div class="col-xs-12">
									<p class="text-center">
										<button type="submit" class="btn btn-space btn-primary btn-lg"><i class="icon icon-left mdi mdi-plus"></i> Add user</button>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

import MainComponent from '../MainComponent.vue';

export default {
	components: {
		MainComponent
	},
	data() {
		return {
		  	user: {},
		  	csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
		  	name: '',
		  	email: '',
		  	password: '',
		  	password_confirmation: '',
		  	role: '',
		    options: [
		      { id: 'admin', name: 'Admin' },
		      { id: 'user', name: 'User' }
		    ]
		}
	},
	methods: {
		adduser(e) {
            e.preventDefault();
            let currentObj = this;
            axios.post('../api/adduser', {
            	name: this.name,
            	email: this.email,
            	password: this.password,
            	password_confirmation: this.password_confirmation,
            	role: this.role,
            }).then( response => {
				Vue.$toast.success(response.data.success, {
				  position: 'top-right',
				});
				this.$router.push({ name: 'users' })
            }).catch( error => {
                if (error.response.status == 500) {
					Vue.$toast.error(error.response.data, {
					  position: 'top-right',
					})
                }
            });
		},
		changeLocation() {
			console.log(this.options);
		}
	}
}
</script>
<style>
.notices .toast .toast-text {
	padding: 20px 50px;
}
.notices .toast-error {
	background-color: #ea4335;
    border-color: #ea4335;
    color: #ffffff;
}
.notices .toast-success {
	background-color: #34a853;
    border-color: #34a853;
    color: #ffffff;
}
</style>
