<template>
	<div class="main-content container-fluid">
		<div class="page-head">
			<h2 class="page-head-title">Change password</h2>
			<ol class="breadcrumb page-head-nav">
				<li><a href="#">Home</a></li>
				<li><router-link to="/admin/users">Users</router-link></li>
				<li class="active">Password</li>
			</ol>
		</div>
		<div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default panel-border-color panel-border-color-primary">
					<div class="panel-heading panel-heading-divider">Change password<span class="panel-subtitle">Complete all required fields *</span></div>
					<div class="panel-body">
						<form @submit.prevent="changePassword" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
							<div class="form-group">
								<label class="col-sm-3 control-label">Password *</label>
								<div class="col-sm-6">
									<input type="password" class="form-control" required v-model="password">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Re-type password *</label>
								<div class="col-sm-6">
									<input type="password" class="form-control" required v-model="password_confirmation">
								</div>
							</div>
							<div class="col-xs-12">
								<p class="text-center">
									<button type="submit" class="btn btn-space btn-primary btn-lg"><i class="icon icon-left mdi mdi-edit"></i> Update</button>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>

import MainComponent from '../MainComponent.vue';

export default {
	components: {
		MainComponent
	},
	created() {
		//
	},
	data() {
		return {
			user: [],
			userid: this.$route.params.id,
		  	password: '',
		  	password_confirmation: '',
		}
	},
	methods: {
		adduser() {
			this.$router.push('add-user')
		},
		changePassword(e) {
            e.preventDefault();
            let currentObj = this;
            axios.post('../../api/user/change-password/' + this.userid, {
            	password: this.password,
            	password_confirmation: this.password_confirmation,
            }).then( response => {
				Vue.$toast.success(response.data.success, {
				  position: 'top-right',
				});
				this.$router.push({ name: 'users' })
            }).catch( error => {
                if (error.response.status == 500) {
					Vue.$toast.error(error.response.data, {
					  position: 'top-right',
					})
                }
            });
		}
	},
}
</script>