<template>
	<div class="main-content container-fluid">
		<div class="page-head">
			<h2 class="page-head-title">Update User</h2>
			<ol class="breadcrumb page-head-nav">
				<li><a href="#">Home</a></li>
				<li><router-link to="/admin/users">Users</router-link></li>
				<li class="active">Update</li>
			</ol>
		</div>
		<div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default panel-border-color panel-border-color-primary">
					<div class="panel-heading panel-heading-divider">Update user<span class="panel-subtitle">Complete all required fields *</span></div>
					<div class="panel-body">
						<form @submit.prevent="updateUser" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
							<div class="form-group">
								<label class="col-sm-3 control-label">Name *</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" required v-model="user.name">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Email address *</label>
								<div class="col-sm-6">
									<input type="email" class="form-control" required v-model="user.email">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Role</label>
								<div class="col-sm-6">
									<select class="form-control" v-model="user.role" :required="true">
										<option disabled value="0" selected>Select one</option>
										<option v-for="option in options" v-bind:value="option.id"  >
											{{ option.name }}
										</option>
									</select>
								</div>
							</div>
							<div class="col-xs-12">
								<p class="text-center">
									<button type="submit" class="btn btn-space btn-primary btn-lg"><i class="icon icon-left mdi mdi-edit"></i> Update user</button>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>

import MainComponent from '../MainComponent.vue';

export default {
	components: {
		MainComponent
	},
	created() {
		this.getUser();
	},
	data() {
		return {
			user: [],
			userid: this.$route.params.id,
		  	name: '',
		  	email: '',
		  	role: '',
		    options: [
		      { id: 'admin', name: 'Admin' },
		      { id: 'user', name: 'User' }
		    ]
		}
	},
	methods: {
		adduser() {
			this.$router.push({ name: 'adduser' })
		},
		getUser() {
			this.axios.get('../../api/user/edit/' + this.userid).then((response) => {
	            this.user = response.data;
	        });
		},
		updateUser(e) {
            e.preventDefault();
            let currentObj = this;
            axios.post('../api/user/update/' + this.userid, {
            	name: this.user.name,
            	email: this.user.email,
            	role: this.user.role,
            }).then( response => {
				Vue.$toast.success(response.data.success, {
				  position: 'top-right',
				});
				this.$router.push({ name: 'users' })
            }).catch( error => {
                if (error.response.status == 500) {
					Vue.$toast.error(error.response.data, {
					  position: 'top-right',
					})
                }
            });
		}
	},
}
</script>