<template>
	<div class="main-content container-fluid">
		<div class="page-head">
			<h2 class="page-head-title">Users</h2>
			<ol class="breadcrumb page-head-nav">
				<li><a href="#">Home</a></li>
				<li class="active">Users</li>
			</ol>
		</div>
		<div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default panel-table">
					<div class="panel-heading">User list
						<div class="tools">
							<button @click="adduser" class="btn btn-space btn-primary"><i class="icon icon-left mdi mdi-plus"></i> Add user</button>
						</div>
					</div>
					<div class="panel-body">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th style="width:20%;">Name</th>
									<th style="width:20%;">Email address</th>
									<th style="width:20%;">Role</th>
									<th style="width:20%;">Date</th>
									<th class="actions"></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="user in users">
									<td class="user-avatar"><img :src="randomNumber()" alt="Avatar">{{ user.name }}</td>
									<td>{{ user.email }}</td>
									<td>{{ user.role }}</td>
									<td>{{ user.created_at }}</td>
									<td class="actions">
										<div v-if="user.id !== 1">
											<router-link :to="{ path: '/admin/update-user/' + user.id, params: { id: user.id } }" class="icon"><i class="mdi mdi-edit"></i></router-link>

											<a href="#" @click="getUserId(user.id)" class="icon" data-toggle="modal" data-target="#mod-warning" ><i class="mdi mdi-delete " ></i></a>

											<router-link :to="{ path: '/admin/change-password/' + user.id, params: { id: user.id } }" class="icon"><i class="mdi mdi-lock"></i></router-link>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- modals -->
		<div id="mod-warning" tabindex="-1" role="dialog" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="mdi mdi-close"></span></button>
					</div>
					<div class="modal-body">
						<div class="text-center">
							<div class="text-warning"><span class="modal-main-icon mdi mdi-alert-triangle"></span></div>
							<h3>Delete user!</h3>
							<p>Are you sure you want to delete this user? This process cannot be undone.</p>
							<div class="xs-mt-50">
								<button type="button" data-dismiss="modal" class="btn btn-space btn-default">Cancel</button>
								<button type="button" data-dismiss="modal" @click="deleteuser(userid)" class="btn btn-space btn-warning">Proceed</button>
							</div>
						</div>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>

	</div>


</template>

<script>

import MainComponent from '../MainComponent.vue';

export default {
	components: {
		MainComponent
	},
	mounted() {
		this.getUsers();
	},
	data() {
		return {
			users: [],
			userid: '',
		}
	},
	methods: {
		adduser() {
			this.$router.push({ name: 'adduser' })
		},
		getUsers() {
			this.axios.get('../api/users').then((response) => {
				this.users = response.data;
			});
		},
		randomNumber() {
			let num = Math.floor(Math.random() * (6 - 1 + 1)) + 1;
			return '../assets/img/avatar'+ num +'.png';
		},
		getUserId(id) {
			this.userid = id;
		},
		deleteuser(id) {
            axios.post('../api/user/delete', {
            	id: id,
            }).then( response => {
            	this.getUsers();
				Vue.$toast.success(response.data.success, {
				  position: 'top-right',
				});
            }).catch( error => {
                if (error.response.status == 500) {
					Vue.$toast.error(error.response.data, {
					  position: 'top-right',
					})
                }
            });
		}
	}
}
</script>
<<style>
.icon {
	padding: 0 3px;
}
</style>
