	<template>
		<div class="main-content container-fluid">
			<div class="page-head">
				<h2 class="page-head-title">Update Testimonial</h2>
				<ol class="breadcrumb page-head-nav">
					<li><a href="#">Home</a></li>
					<li><router-link to="/admin/testimonials">Testimonials</router-link></li>
					<li class="active">Update</li>
				</ol>
			</div>
			<div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default panel-border-color panel-border-color-primary">
						<div class="panel-heading panel-heading-divider">Add testimonial<span class="panel-subtitle">Complete all required fields *</span></div>
						<div class="panel-body">
							<form @submit.prevent="updateTestimonial" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
								<div class="form-group">
									<label class="col-sm-3 control-label">Name</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" v-model="testimonial.name" placeholder="Randy Corpuz">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Location</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" v-model="testimonial.location" placeholder="Tokyo, Japan">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Message</label>
									<div class="col-sm-6">
										<textarea class="form-control" rows="5" v-model="testimonial.message" placeholder="What can we say?! We were just blown away by the attention to detail and the flawless service."></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Image</label>
									<div class="col-sm-6">
										<img :src="timage" alt="" width="100px" style="margin-bottom: 5px">
										<input type="file" class="form-control" accept="image/*" @change="processFile($event)">
									</div>
								</div>
								<div class="col-xs-12">
									<p class="text-center">
										<button type="submit" class="btn btn-space btn-primary btn-lg"><i class="icon icon-left mdi mdi-plus"></i> Update testimonial</button>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

import MainComponent from '../MainComponent.vue';

export default {
	components: {
		MainComponent
	},
	created() {
		this.getTestimonial();
	},
	data() {
		return {
			testimonial: [],
			testimonialid: this.$route.params.id,
			path: '../../images/testimonials/',
			name: '',
			image: null,
			location: '',
			message: '',
			timage: ''
		}
	},
	methods: {
		addtestimonial() {
			this.$router.push({ name: 'addtestimonial' })
		},
		getTestimonial() {
			this.axios.get('../../api/testimonial/edit/' + this.testimonialid).then((response) => {
	            this.testimonial = response.data;
	            this.timage = this.path + response.data.image;
	        });
		},
		updateTestimonial(e) {
            e.preventDefault();
            let currentObj = this;

            let formData = new FormData();
            formData.append('image', this.image);
            formData.append('name', this.testimonial.name);
            formData.append('location', this.testimonial.location);
            formData.append('message', this.testimonial.message);

            axios.post('../../api/testimonial/update/' + this.testimonialid, formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then( response => {
				Vue.$toast.success(response.data.success, {
				  position: 'top-right',
				});
				//this.$router.push({ name: 'testimonials' })
            }).catch( error => {
                if (error.response.status == 500) {
					Vue.$toast.error(error.response.data, {
					  position: 'top-right',
					})
                }
            });
		},
		processFile(event) {
			this.image = event.target.files[0]
		}
	},
}
</script>
<style>
.notices .toast .toast-text {
	padding: 20px 50px;
}
.notices .toast-error {
	background-color: #ea4335;
	border-color: #ea4335;
	color: #ffffff;
}
.notices .toast-success {
	background-color: #34a853;
	border-color: #34a853;
	color: #ffffff;
}
</style>
