<template>
	<ul class="nav navbar-nav navbar-right be-user-nav">
		<li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><img :src="path + user.image" alt="Avatar"><span class="user-name">{{ user.name }}</span></a>
			<ul role="menu" class="dropdown-menu">
				<li>
					<div class="user-info">
						<div class="user-name">{{ user.name }}</div>
						<div class="user-position online">Available</div>
					</div>
				</li>
				<li><router-link to="/admin/update-profile"><span class="icon mdi mdi-face"></span> Account</router-link></li>
				<li @click="logout"><a href="javascript:void(0)"><span class="icon mdi mdi-power"></span> Logout</a></li>
			</ul>
		</li>
	</ul>
</template>
<script>
export default {
	data() {
		return {
			activeItem: '',
			path: this.$router.history.current.path,
			user: [],
			csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('value'),
			path: '../../public/images/users/',
		}
	},
	mounted() {
		this.getUser();
	},
	methods: {
        logout(){
            axios.post('/logout')
                .then( response => {
                	window.location = 'login';
                })
                .catch( error => {
                    console.log('error');
                });
        },
        getUser() {
			this.axios.get('../api/user').then((response) => {
				this.user = response.data;
			});
        }

	}
}
</script>