<template>
	<div class="be-left-sidebar">
		<div class="left-sidebar-wrapper"><a href="#" class="left-sidebar-toggle">Zycor Fly</a>
			<div class="left-sidebar-spacer">
				<div class="left-sidebar-scroll">
					<div class="left-sidebar-content">
						<ul class="sidebar-elements">
							<li class="divider">Menu</li>
							<li :class="activeItem === 'dashboard' ? 'active' : ''" @click="setActive('dashboard')">
								<router-link to="/admin/dashboard"><i class="icon mdi mdi-home"></i><span>Dashboard</span></router-link>
							</li>
							<li class="parent" :class="activeItem === 'user' ? 'active open' : ''"><a href="#"><i class="icon mdi mdi-face"></i><span>Users</span></a>
								<ul class="sub-menu">
									<li :class="activelink === 'user' ? 'active' : ''" @click="setActive('user')"><router-link to="/admin/users">Users</router-link>
									</li>
									<li @click="setActive('user')"><router-link to="/admin/add-user">Add User</router-link>
									</li>
								</ul>
							</li>
							<li class="parent" :class="activeItem === 'package' ? 'active open' : ''"><a href="#"><i class="icon mdi mdi-card-giftcard"></i><span>Packages</span></a>
								<ul class="sub-menu">
									<li @click="setActive('package')"><router-link to="/admin/packages">Packages</router-link>
									</li>
									<li @click="setActive('package')"><router-link to="/admin/add-package">Add Package</router-link>
									</li>
								</ul>
							</li>
							<li class="parent" :class="activeItem === 'testimonial' ? 'active open' : ''"><a href="#"><i class="icon mdi mdi-edit"></i><span>Testimonials</span></a>
								<ul class="sub-menu">
									<li @click="setActive('testimonial')"><router-link to="/admin/testimonials">Testimonials</router-link>
									</li>
									<li @click="setActive('testimonial')"><router-link to="/admin/add-testimonial">Add Testimonial</router-link>
									</li>
								</ul>
							</li>
							<li class="parent" :class="activeItem === 'blog' ? 'active open' : ''"><a href="#"><i class="icon mdi mdi-blogger"></i><span>Blog</span></a>
								<ul class="sub-menu">
									<li @click="setActive('blog')"><router-link to="/admin/blogs">Blog</router-link>
									</li>
									<li @click="setActive('blog')"><router-link to="/admin/add-blog">Add Blog</router-link>
									</li>
								</ul>
							</li>
							<li class="divider">Settings</li>
							<li :class="activeItem === 'setting' ? 'active' : ''" @click="setActive('setting')">
								<router-link to="/admin/settings"><i class="icon mdi mdi-settings"></i><span>Settings</span></router-link>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
    mounted() {
        this.activeMe();
    },
	data() {
		return { 
			pagename: '',
			activeItem: '',
			activelink: '',
			path: this.$router.history.current.path
		}
	},
	methods: {
		setActive: function (val) {
			if (val == 'user') {
				this.activeItem = 'user';
			} else if (val == 'package') {
				this.activeItem = 'package';
			} else if (val == 'dashboard') {
				this.activeItem = 'dashboard';
			} else if (val == 'setting') {
				this.activeItem = 'setting';
			} else if (val == 'testimonial') {
				this.activeItem = 'testimonial';
			} else if (val == 'blog') {
				this.activeItem = 'blog';
			} 
		},
		activeMe: function() {
			if (this.path == '/admin/users' || this.path == '/admin/add-user') {
				this.activeItem = 'user';
			} else if (this.path == '/admin/packages' || this.path == '/admin/add-package') {
				this.activeItem = 'package';
			} else if (this.path == '/admin/testimonials' || this.path == '/admin/add-testimonial') {
				this.activeItem = 'testimonial';
			} else if (this.path == '/admin/blogs' || this.path == '/admin/add-blog') {
				this.activeItem = 'blog';
			} else if (this.path == '/admin/dashboard') {
				this.activeItem = 'dashboard';
			} else if (this.path == '/admin/change-password/' + this.$route.params.id) {
				this.activeItem = 'user';
			} else if (this.path == '/admin/update-user/' + this.$route.params.id) {
				this.activeItem = 'user';
			} else if (this.path == '/admin/delete-user/' + this.$route.params.id) {
				this.activeItem = 'user';
			} else if (this.path == '/admin/settings') {
				this.activeItem = 'setting';
			} else if (this.path == '/admin/update-package/' + this.$route.params.id) {
				this.activeItem = 'package';
			} else if (this.path == '/admin/update-testimonial/' + this.$route.params.id) {
				this.activeItem = 'testimonial';
			} else if (this.path == '/admin/update-blog/' + this.$route.params.id) {
				this.activeItem = 'blog';
			}
		}
	}
}
</script>